.fbi_default {
    
}

.fbiLeftPanel {
    width:50%;
    display:inline;
    float:left;
    height: 250px;
}

.fbiRightPanel {
    width:50%;
    display:inline;
    float:left;
    height: 250px;
}

.fbi_label {
    margin-bottom: 10px;
}

.fbi_feature_wrapper {
    padding:5px;
    border-bottom: solid 1px #a1a9b2;
}

.fbi_top_padding {
    padding-top: 10px;
}