.fbi_default {
    
}

.fbiFooter {
    height: 24px !important;
    margin-top: 4px;
    float: left;
}

.fbiLeftPanel {
    width:49%;
    padding-right:1%;
    display:inline;
    float:left;
    height: 250px;
}

.fbiRightPanel {
    width:49%;
    padding-left:1%;
    display:inline;
    float:left;
    height: 250px;
}

.fbi_label {
    margin-bottom: 10px;
}

.fbi_feature_wrapper {
    padding:5px;
    border-bottom: solid 1px #a1a9b2;
}

.fbi_top_padding {
    padding-top: 10px;
}