<?xml version="1.0" encoding="utf-8" ?>
<ValidationTypes>
  <ValidationType type="email" assembly="Tridion.Extensions.UI.Validators.dll" class="FV.Validators.EmailValidator">
    <Name><![CDATA[Email Address]]></Name>
    <ErrorMessage><![CDATA[There was an error validating field {0}. {1}]]></ErrorMessage>
    <Regex></Regex>
  </ValidationType>
  <ValidationType type="zipregex" assembly="Tridion.Extensions.UI.Validators.dll" class="FV.Validators.RegexValidator">
    <Name><![CDATA[Zip Code]]></Name>
    <ErrorMessage><![CDATA[There was an error validating field {0}. {1}]]></ErrorMessage>
    <Regex><![CDATA[^\d{5}(?:[-\s]\d{4})?$]]></Regex>
  </ValidationType>
</ValidationTypes>
